.git
.github
.gitattributes
.gitignore
.env
.env.*
.dockerignore
Dockerfile
docker-compose*.yml
docker-compose*.yaml
README.Docker.md

*.log
*.tmp
epay_release*
epay_update*

plugins/*/logs/*
install/install.lock
